*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100vw;
    background: linear-gradient(to right ,#FAA0A0 , #DDA0DD ,#D8BFD8);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}
header div
{
    padding: 0 0.1em;
}
header .header-img
{
    font-size: 30px;
}
.container
{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.container #userTaskInput 
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #EDEADE;
    border-radius: 10px;
    margin: 2em 0;
}
.container #userTaskInput input
{
    width: 80%;
    flex: 1;
    padding: 20px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
}
.container #userTaskInput button
{
    font-size: 15px;
    background-color: black;
    color: white;
    width: 15%;
    padding: 20px;
    border: none;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.container #userTask, .container #userImportantTask 
{
    width:100%;  
}
.container #userTask  #userTaskList, .container #userImportantTask #userImportantTaskList
{
    width: 100%;
}
.container #userTask  #userTaskList li
{
    
    background:none;
    border-radius: 10px;
    margin: 1.3em 0;
    list-style-type: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.container #userImportantTask #userImportantTaskList li
{
    background:none;
    border-radius: 10px;
    margin: 2em 0;
    list-style-type: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.container #userTask  #userTaskList li div,.container #userImportantTask #userImportantTaskList li div
{
    width: 100%;
}
.container #userTask  #userTaskList li , .container #userImportantTask #userImportantTaskList li #listItem
{
    padding: 0.4em 0;
}
.container #userTask  #userTaskList li #list,.container #userImportantTask #userImportantTaskList li #list
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEADE;
    padding: 20px;
    border-radius: 10px;
}

.container #userTask  #userTaskList li  #list span, .container #userImportantTask #userImportantTaskList li #list span
{
    padding: 0 -1em;
}
.container #userImportantTask #userImportantTaskList li #subMenu li
{
    padding: 0.4em 0;
}
 li #subMenu li:hover
{
    color: red;
}
 .container #userImportantTask #userImportantTaskList li #subMenu, .container #userTask  #userTaskList li  #subMenu
{
    width: 20%;
    background-color: #f9f6e9;
    margin: -0.8em 0;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-left: 41rem;
    z-index: 999;
    position: absolute;
    top: 224px;
}

.container #userTask  #userTaskList li  #subMenu .subMenuList li, .container #userImportantTask #userImportantTaskList li #subMenu li
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
    font-size: 15px;
}
.container #userTask  #userTaskList li  #subMenu .subMenuList li span, .container #userImportantTask #userImportantTaskList li #subMenu li span
{
    padding: 0 0.2em;
}
.active
{
    box-shadow: 2px 20px 2px black inset;
   color: white;
   background: transparent;
   width: 20px;
   border-radius: 20px;
}
.completed
{
    text-decoration: line-through;
    color: blue;
}
.starred
{
    box-shadow: 20px 10px 20px yellow inset ;
    width: 20px;
    color: white;
    height: 17px;
    border-radius: 100%;
} 
.fa-ellipsis:hover
{
    color: rgb(192, 183, 183);
}