*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100vw;
    background: linear-gradient(to right ,#FAA0A0 , #DDA0DD ,#D8BFD8);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}
header div
{
    padding: 0 0.1em;
}
header .header-img
{
    font-size: 30px;
}
.container
{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.container #userTaskInput 
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #EDEADE;
    border-radius: 10px;
}
.container #userTaskInput input
{
    width: 80%;
    flex: 1;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
}
.container #userTaskInput button
{
    font-size: 15px;
    background-color: black;
    color: white;
    width: 15%;
    padding: 10px;
    border: none;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.container #userTask
{
    width:100%;  
}
.container #userTask  #userTaskList 
{
    width: 100%;
}
.container #userTask  #userTaskList li
{
    
    background-color: #EDEADE;
    border-radius: 10px;
    margin: 1em 0;
    padding: 20px;
    list-style-type: none;
    cursor: pointer;
}
.container #userTask  #userTaskList li span
{
    
}